body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2 {
  text-align: center;
}

#publisher, #timeline {
  border: 1px solid #e1e8ed;
  padding: 10px 12px;
  max-width: 588px;
  font-size: 13px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 20px auto 0 auto;
}

#publisher {
  background: #E8F4FB;
  position: relative;
}

#timeline {
  font-size: 14px;
  line-height: 18px;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0;
}

input[name="tweet"] {
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

input[type="submit"] {
  border: none;
  color: white;
  font-weight: bold;
  padding: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

input[name="email"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.avi {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
}

.avi:hover {
  opacity: .9;
}

.username {
  font-weight: bold;
  color: #292f33;
  text-decoration: none;
  cursor: pointer;
  line-height: 2em;
}

.username:after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  background: url("../images/verified.png");
  background-size: cover;
  vertical-align: middle;
  margin-top: -2px;
}

.username:hover {
  text-decoration: none;
  color: #337ab7;
}

.username:before {
  content: "@";
}

#timeline li {
  padding: 12px 35px 12px 75px;
  border-bottom: 1px solid #e1e8ed;
  clear: both;
  list-style: none;
  min-height: 75px;
  position: relative;
  overflow: hidden;
}

.retweet {
  width: 19px;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  cursor: pointer;
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
}

.retweet:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
}

.expanded {
  background: rgba(0,0,0,0.55);
}

.expanded .container {
  background: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 60px;
  padding: 30px 40px;
  max-width: 640px;
  position: relative;
}

.expanded .tweet-body {
  font-size: 26px;
  color: #292f33;
  line-height: 32px;
  margin-top: 27px;
  letter-spacing: .01em;
  font-weight: 300;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.expanded .username {
  font-weight: bold;
  display: block;
  padding-top: 2px;
  margin-top: 3px;
  font-size: 18px;
  line-height: 1.25;
  margin-left: 60px;
  margin-top: 12px;
}

.expanded .avi {
  top: 30px;
  left: 40px;
}

.expanded .timestamp {
  font-size: 13px;
  color: #8899a6;
  margin-top: 15px;
}

.back-to-timeline {
  position: absolute;
  top: -4px;
  right: -36px;
  font-size: 23px;
  color: white;
  opacity: .8;
}

.back-to-timeline:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}
