h1 {
  text-align: center;
}

#publisher, #timeline {
  border: 1px solid #e1e8ed;
  padding: 10px 12px;
  max-width: 588px;
  font-size: 13px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 20px auto 0 auto;
}

#publisher {
  background: #E8F4FB;
  position: relative;
}

#timeline {
  font-size: 14px;
  line-height: 18px;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0;
}

input[name="tweet"] {
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

input[type="submit"] {
  border: none;
  color: white;
  font-weight: bold;
  padding: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

input[name="email"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.avi {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.username {
  font-weight: bold;
  color: #292f33;
  text-decoration: none;
  cursor: pointer;
  line-height: 2em;
}

.username:after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  background: url("../images/verified.png");
  background-size: cover;
  vertical-align: middle;
  margin-top: -2px;
}

.username:hover {
  text-decoration: none;
  color: #337ab7;
}

.username:before {
  content: "@";
}

#timeline li {
  padding: 12px 12px 12px 75px;
  border-bottom: 1px solid #e1e8ed;
  clear: both;
  list-style: none;
  min-height: 75px;
  position: relative;
  overflow: hidden;
}
